<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojo Survey Index</title>
    </head>
    <body style="border: 2px solid black; height: 200px; width: 300px; padding: 10px 10px 30px 10px">
        <h3 style="text-decoration: underline">Submitted Info</h3>
            <p>Name: {{ name_on_template }}</p>
            <p>Dojo Location: {{ location_on_template }}</p>
            <p>Favorite Language: {{ language_on_template }}</p>
            <p>Comment: {{ comment_on_template }}</p>
            <input type = 'submit' value='Go Back' style="margin-left: 225px; color: white; background-color: skyblue">
    </body>
</html>