<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"
        <title>Counter</title>
    </head>
    <body>
        <h1>Counter:</h1>
        <h3>You have visited this page: {{session['count']}} times.</h3>
        <form action = '/increment' method='post'>
            <button>Add 2</button>
        </form>
        <form action='/destroy_session' method='post'>
            <button>Destroy Session (Reset)</button>
        </form>
    </body>
</html>
